* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    transition: all 0.3s ease;
    outline: none;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
}
.logo h1 {
    margin: 10px;
    font-style: italic;
}
.logo-img {
    width: 50px;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
}
header {
    /* position: fixed; */
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid tomato;
}
ul {
    list-style: none;
}
.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.open-nav {
    display: none;
    cursor: pointer;
}
nav {
    width: 100%;
    max-width: 700px;
}
nav .list-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .list-menu a {
    position: relative;
    text-decoration: none;
    color: #444;
    text-transform: uppercase;
    cursor: pointer;
    padding-bottom: 5px;
    font-weight: bold;
}
nav .list-menu a:hover {
    color: black;
    transition: all 0.3s ease;
}
nav .list-menu a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: tomato;
    left: 0;
    bottom: 0;
    transition: all 0.3s ease;
}
nav .list-menu a:hover::before {
    width: 100%;
    transition: all 0.3s ease;
}
/* Responsivo */
@media (max-width: 700px) {
    nav {
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        /* background: rgba(0, 0, 0, 0.7);
        color: black; */
    }
    nav .list-menu {
        flex-direction: column;
        margin: 0;
        padding: 45px 0 0 0;
    }
    nav .list-menu a {
        display: block;
        margin-bottom: 20px;
    }
    .open-nav {
        position: relative;
        display: block;
        width: 40px;
        height: 30px;
        background: transparent;
        border: none;
        z-index: 3;
    }
    .open-nav .line {
        position: absolute;
        width: 100%;
        height: 4px;
        background: tomato;
        left: 0;
        right: 0;
        border-radius: 5px;
    }
    .open-nav .line.line_1 {
        top: 0;
    }
    .open-nav .line.line_2 {
        top: 50%;
        transform: translateY(-50%);
        opacity: 1;
    }
    .open-nav .line.line_3 {
        bottom: 0;
    }
}

button.open-nav.open .line.line_1 {
    transform: rotate(42deg);
    transform-origin: left;
}
button.open-nav.open .line.line_2 {
    left: 100%;
    opacity: 0;
}
button.open-nav.open .line.line_3 {
    transform: rotate(-41deg);
    transform-origin: left;
}
nav.menu.active {
    background: rgba(0, 0, 0, 0.7);
    left: 0;
    transition: all 0.3s ease;
}
nav.menu.active a {
    color: white;
    background-color: tomato;
    width: 300px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}
nav.menu.active a:hover {
    width: 300px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    color: #444;
}
nav.menu.active a:hover::before {
    transition: none;
    display: none;
}
